<html>
<head>
  <link rel="stylesheet" href="node_modules/codemirror/theme/base16-dark.css" />
  <link rel="stylesheet" href="node_modules/codemirror/lib/codemirror.css" />
  <link rel="stylesheet" href="dist/oryx.css" />
  <!-- <script>window.ipcRenderer = require('electron').ipcRenderer;</script> -->
</head>
<body>
  <div class="window-container">
    <div class="window-tags" id="sidebar">
      <input id="search-bar" type="text" placeholder="search" v-model="searchInput">
      <div id="file-lister">
        <div class="file-preview" v-for="f in files">
          <div>
            {{ f.doc.title }}
          </div>
          <div>
            {{ f.doc.preview }}
          </div>
          <div class="tag-container">
            <div class="tag" v-for="tag in f.doc.tags">
              {{ tag }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <textarea id="code"></textarea>

  </div>

</body>
<script src="main.js"></script>
</html>
