<html>
<head>
  <link rel="stylesheet" href="node_modules/codemirror/theme/base16-dark.css" />
  <link rel="stylesheet" href="node_modules/codemirror/lib/codemirror.css" />
  <link rel="stylesheet" href="dist/oryx.css" />
</head>
<body>
  <div class="window-container">
    <div class="window-tags" id="search">
      <input type="text" placeholder="search" v-model="searchInput">
      <div class="file-preview" v-for="f in files">
        <p>
          {{ f.doc.title }}
        </p>
        <p>
          {{ f.doc.preview }}
        </p>
      </div>
    </div>
    <textarea id="code"></textarea>

  </div>

</body>
<script src="dist/build.js"></script>
</html>
